*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #e2e0e0;
}
header.cabeceraPrincipal, nav.menuPrincipal, section.galeriaPrinicpal,aside.sponsor,main,footer.piePagina{
    background-color: rgb(148, 250, 46);
    color: rgb(47, 83, 10);
    width: 90%;
    margin: 0 auto;
}
header.cabeceraPrincipal{
    background-color: white;
}

header.cabeceraPrincipal h1{
    font-size: 25px;
    color: black;
}
.cabeceraPrincipal .logo{
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 20%;
    display: inline-block;
    padding: 1em 1em;
    text-align: center;
}
.logo.iniciales-logo{
    padding: 5px;
    border: 2px solid black;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
}
section.seccionCabecera{
    width: 70%;
    display: inline-block;
    text-align: right;
}
.seccionCabecera .barra-busqueda button{
    height: 35px;
    border: 1px solid grey;
    border-left: none;
    color: #545454; 
    background-color: #f8f8f8;
    padding: 0 20px;
    cursor: pointer;
}
.seccionCabecera .barra-busqueda button:hover{
    background-color: #f1f1f1;
}
/*---------------Barra de Busqueda-----------*/
.seccionCabecera .barra-busqueda{
    display: flex;
    padding-left: 75%;
}

.seccionCabecera .barra-busqueda input{
    min-width: 30%;
    padding: 0 14px;
    height: 33px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 16px;
}
/*-----------Fin Barra de Busqueda-----------*/


nav.menuPrincipal, main,aside.sponsor,footer.piePagina{
    margin-top: 2px;
}
nav.menuPrincipal {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
}


nav.menuPrincipal a{
    background-color: white;
    padding: 10px;
    color: black;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    text-align: center;
    font-size: 16px;
    transition: 0.2s ease all;
}
nav.menuPrincipal a:hover{
    background-color: black;
    color: white;
}


section.galeriaPrinicpal{
    margin-top: 2px;
    background: #000;
}
section.galeriaPrinicpal img{
    width: 100%;
}


main{
    text-align: center;
    background-color: white;
}

section.articulo{
    width: 48%;
    display: inline-block;
}

section.noticias{
    display: flex;
    background: white;
    text-align: justify;

}

.noticias img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.noticias .contenedor-texto{
    padding: 20xp;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.noticias .contenedor1{
    width: 95%;
}

.noticias .titulo{
    margin-bottom: 10px;
    font-size: 25px;
}


.btn-link{
    background: #FFFFFF;
    color: #868686;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;

}

.btn-link:hover{
    background-color: #000;

}


.noticias .fecha{
    font-size: 15px;
    color: #868686;
    margin-bottom: 10px;
}

.noticias .extracto{
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    margin-bottom: 20px;
    color: grey;
}


aside.sponsor{
    width: 90%;
    display: flex;
    background-color: #fff;
    padding-top: 3px;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
/* 1080x360*/

aside.sponsor img{
    width: 50%;
    background-color: white;
}
aside.sponsor img:hover{
    border: 1px solid #000;

}

footer.piePagina{
    width: 90%;
    text-align: right;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    color: #000;
}

footer.piePagina a{
    text-decoration: none;
    transition: 0.2s ease all;
    color: #000;
}
footer.piePagina a:hover{
    background-color: #000;
    color: #ffffff;
}


